@media only screen and (min-width: 1200px) and (max-width:1600px) {
  .container {
    max-width: 92% !important;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1600px) {
  .main-btn-blank {
    padding: 16px 35px;
  }

  .main-btn {
    padding: 16px 35px;
  }
}

@media only screen and (max-width: 1300px) {
  .main-heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
  }
}
@media only screen and (max-width:1240px){
  .teacher-card--header-text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .profile-price{
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  .filter-search .dropdown{
    display: flex;
    flex-grow: 1;
  }
  .filter-search .dropdown button{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  .main-btn-blank {
    padding: 10px 20px;
    font-size: 14px;
  }

  .main-btn {
    padding: 10px 25px;
    font-size: 14px;
  }

  .main-btn-blank2 {
    font-size: 14px;
  }

  .top-navbar li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-heading br {
    display: none;
  }

  .hero-section {
    /* min-height: 100vh; */
    padding-top: 70px;
  }

  .statistics {
    padding: 30px;
  }

  .heading {
    font-size: 30px;
  }

  .comfort-card {
    padding: 15px;
  }

  .comfort-card h3 {
    font-size: 22px;
  }

  .comfort-card p {
    font-size: 14px;
  }

  .heading br {
    display: none;
  }

  .navbar-collapse-light {
    background-color: #FFFAF6 !important;
  }
  .top-navbar-light li a{
    color: white !important;
  }
  .header-select-dark {
    color: white !important;
  }
  .header-select-dark {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none"><path d="M17 1L9 9L1 1" stroke="white" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
  }
  
  /* .carousel-control-prev  {
        width: 43vw;
      } */
    
      .header-form {
        padding: 20px 15px;
        /* color: transparent; */
      }
}

@media only screen and (max-width:991px) {
  .work-card {
    flex-direction: column;
    padding: 0px 0px;
  }
.slc{
  border: 0px !important;
  margin-bottom: 15px;
  padding-right: 0px !important;
}
.select-section select{
  font-size: 14px;
}
  /* .carousel-control-prev{
    width: 90%;
  } */
  .work-card img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px !important;
  }

  .work-text {
    padding: 20px;
  }
  .header-form {
    padding: 20px 20px;
  }
  .profile-data .profile-content h2{
    font-size: 14px;
    padding:0px 0px;
    margin-bottom: 10px;
  }
  .profile-data{
    align-items: flex-start;
  }
  .border-right{
    border-right: none !important;
  }
  .review-tag {
    width: 100% !important;
   
  }
  .review-tag-div{
    padding: 10px 0px !important;
  }
}

@media only screen and (max-width:768px) {
  .search{
    position: relative;
    width: 100%;
  }
  .search input{
  width: 100%;
  }
  .filter-search .dropdown{
 width: 100%;
  }
  .filter-search .dropdown button{
    width: 100%;
  }
  .testimonial-text {
    font-size: 14px;
    line-height: normal;
  }

  .carousel-control-next span,
  .carousel-control-prev span {
    height: 32px;
    width: 32px;
  }

  .carousel-item h4 {
    font-size: 14px;
  }

  .carousel-control-prev {
    padding-right: 50px !important;
  }

  .work-card img {
    width: 100%;
  }

  .work-text {
    padding: 20px;
  }

  .header-form {
    padding: 20px 15px;
  }
  .sm-100 {
    width: 100% !important;
  }
}

@media only screen and (max-width:600px) {
  .select-section{
    padding: 20px 10px;
  }
  .hide-sm{
    display: none;
  }
  .hero-section-profile{
    padding-top: 80px;
  }
  .profile-data{
    flex-direction: column;
  }
  .card-body {
    padding-left: 0px;
    padding-right: 0px;
  }

  .faq-accordian .accordion-button {
    padding: 20px 0px !important;

    font-size: 15px;

  }
  .profile-data .profile-image{
    width:100% !important;
  height: auto;
  }
  .profile-data .profile-image img{
    width:100% !important;
  height: auto;
  }
  .testimonials,
  .tutors,
  .work,
  .comfort-zone,
  .language-training,
  .subjects {
    padding: 70px 0px;
  }

  .work-text {
    padding: 15px;
  }

  .work-card h3 {
    font-size: 24px;
    text-align: center;
  }

  .work-card p {
    font-size: 14px;
    text-align: justify;
  }

  .main-btn,
  .main-btn2,
  .main-btn-blank,
  .main-btn-blank2 {
    width: 100%;
  }

  .statistics-card img {
    height: 45px;
    width: 45px;
  }

  .statistics-card h3 {
    font-size: 18px;
    line-height: 24px;
    /* 112.5% */
  }

  .subject-card {
    padding: 15px !important;
  }

  .subject-card2 h3,
  .subject-card h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .comfort-card h3 {
    font-size: 20px;
  }

  .main-heading {
    font-size: 25px;
  }

  .main-btn2 {
    min-width: 100px;
  }

  .main-btn-blank2 {
    min-width: 100px;
  }

  .main-text2,
  .main-text {
    font-size: 14px;
    line-height: normal;
  }

  .statistics {
    padding: 15px;
  }

  .heading {
    font-size: 24px;
  }
  .profile-content{
    margin-left: 0px;
  }
  .tab-div{
    overflow-x: scroll;
  }
  .tab{
    min-width: 420px;
    padding-bottom: 15px;
   
  }
  .tabcontent p{
    font-size: 14px;
  }
  .tab button{
    font-size: 14px;
    margin: 0 0px;
  }
  .side-card p{
    font-size: 13px;
  }
  .main-btn-sm{
    padding: 8px 30px !important;
    min-width: 190px;
  }
  .main-btn-blank-sm {
    display: flex;
    padding: 9px 10px;
  }
  .tabcontent{
    padding: 15px;
  }
  .tab-table-responsive{
    overflow-x: scroll;
  }
  .tab-table{
    min-width: 500px;
  }
  .tab-select{
    width: 100%;
  }
  .resume-tab{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .resumetablinks {
    flex-grow: 1;
  }
  /* .sm-100 {
    width: 100% !important;
  } */
}
